NEXT_PUBLIC_SUPABASE_URL=https://mklfzifmupjzgfuamtzv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rbGZ6aWZtdXBqemdmdWFtdHp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4MjMxNTMsImV4cCI6MjA4NjM5OTE1M30._MpDRrN_q1wgpN1hIxFeOnkpi8BobkYekPJs7348Y7o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rbGZ6aWZtdXBqemdmdWFtdHp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDgyMzE1MywiZXhwIjoyMDg2Mzk5MTUzfQ.2eX-NxdCnvS5dL_sWkY7WCIJWySP2v1hrEMn5UgnvI4
